menu "Connections configuration"

    config BT_NAME 
        string "Bluetooth Name"
        default "bt_00"
        help
			Bluetooth label name to connect

	config WIFI_SSID
		string "WiFi SSID"
		default "0yd017"
			help
				SSID (network name) to connect to.

	config WIFI_PASSWORD
		string "WiFi Password"
		default "praticamente"
		help
			WiFi password (WPA or WPA2) for the example to use.
			Can be left blank if the network has no security set.

	config H2E_IDENTIFIER
		string "Password H2E identifier"
		default ""
		help
			nothing to tell

	config IP_END_FORCE
		bool "Force ip end"
		default 1
		help
			Force ip end byte to device.

	if IP_END_FORCE
		config IP_END
			int "WiFi ip end"
			default "29"
			help
				when static ip choose define ip end on lan network
	endif

	config WS_SERVER_PORT
		int "Websocket local server port connection"
		default "9000"
		help
			websocket server port

	config WS_CLIENT_URI
		string "websocket server URI"
		default "ws://192.168.1.10"
		help
			websocket server URI point

	config WS_CLIENT_PORT
		int "Websocket remote server port connection"
		default "8999"
		help
			websocket server port to connect

endmenu
